.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100%;
}

.imgContainer{
    flex: 1;
    position: relative;
    height: 70vh;
    width: 500px;
}

.img{
    object-fit: cover;
    border-radius: 20px;
}

.textContainer{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.title{
    font-size: 2rem;
}

.detail{
    display: flex;
    align-items: center;
    gap: 20px;
}

.detailText{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detailTitle{
    color: grey;
    font-weight: bold;
}

.detailValue{
    font-weight: 500;
}

.avatar{
    object-fit: cover;
    border-radius: 50%;
}

.content{
    font-size: 1rem;
}

@media (max-width: 1024px){
    .container{
        text-align: center;
    }

    .textContainer{
        align-items: center;
    }
}
@media (max-width: 768px){
    .container{
        display: flex;
        flex-direction: column;
    }
}
