.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    text-align: justify;
}

.post{
    width: 30%;
    text-align: justify;
}

@media screen and (max-width: 1280px){
    .post{
        width: 45%;
    }
}

@media screen and (max-width: 768px){
    .post{
        width: 100%;
    }
}

@media (max-width:768px){
    .container{
        flex-direction: column;
    }
}
